@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: coral;
    width: 20vw;
    font-family: 'Merriweather', serif;
}

.sidebar nav {
    padding: 40px;

}

.sidebar nav li {
    list-style: none;
    font-size: 58px;
    padding: 67px 0px;
    /* space btn top n bottom of li's */
}

.container {
    display: flex;
}

.main {
    background-color: chartreuse;
    width: 90vw;
}

.infocontainer {
    background-color: yellow;
    height:60vw;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather', serif;
}

.devinfo {
    justify-content: center;
    align-items:center;
    flex-direction: column;
    display: flex;
    padding: 7vw;
    margin: 3vw;
}

.devpic img{
    /* in devpic stylying img or image */
    height: 35vw;
    display: flex;
}

.hello {
    font-size: 72px;
    padding: 49px;
}

.button button {
    width: 7vw;
    height: 2vw;
    font-size: 35px;
    padding: 0px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 6px;
    margin-bottom: 33px;                                            
}
.contact{
    
}